@font-face {
    font-family: "Montserrat-Medium";
    src: local("Montserrat-Medium"),  url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Semi";
    src: local("Montserrat-SemiBold"), url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"), url("./fonts/Montserrat-Bold.ttf") format("truetype");
}


.content {
    background-color: var(--bgSite);
    font-family: "Montserrat-Medium";
    width: 100%;
    margin: 0 auto;
}

.content .black-block {
    background-color: var(--title);
    color: var(--bgSite);
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.5rem;
    padding: 1.5rem 0 ;
}

.content .white-block {
    background-color: var(--bgSite);
    color: var(--title);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Montserrat-Semi";
    line-height: 4.7rem;
    padding: .7rem 0 ;
}

.content .content-wallpaper {
    background-image: url('./background-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.content .content-wallpaper .area {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 14rem 0 10rem 3rem;    
    width: 100%;
}


.content .content-wallpaper h2 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    font-weight: bold;
    font-family: "Montserrat-Bold";
    color: var(--bgSite);
    margin: 0 0 1.9rem 0;
}


.content .content-wallpaper p {
    font-size: 1.6rem;
    line-height: 2.9rem;
    font-weight: 600;
    font-family: "Montserrat-Semi";
    color: var(--bgSite);
    margin-right: 1.5rem;
}

.content .content-wallpaper p br{
    display: none;
}

.content section {
    text-align: center;
    padding: 3rem 2rem 3rem 2rem;
}

.content section h2 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 5.5rem;
    font-family: "Montserrat-Semi";
    color: var(--title);
}

.content section span {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.9rem;
    color: var(--text);
}

.content section .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem 1.3rem;
    margin-top: 2.9rem;
}

.content section .container li {
    padding: 7.6rem 6.2rem;
    background-color: var(--bgCard); 
    display: flex;
    justify-content: center;
}

.content section .container li img {
  width: 25rem;
  height: 15rem;   
  display: flex;
  justify-content: center; 

}

.content section .container li:hover img {
    transform: scale(1.3); 
    transition: 1s all ease;
}

@media (min-width:  599.98px) {

    .content section .container {
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (min-width:  767.98px) {

    .content .content-wallpaper {
        background-image: url('./background-desktop.jpeg');
        
    }
    
    .content .content-wallpaper .area {
        padding: 12.9rem 0 12.1rem 12rem;
    }

    
    .content .content-wallpaper h2 {
        font-size: 3.2rem;
        line-height: 3.9rem;
    }


    .content .content-wallpaper p{
        font-size: 1.8rem;
        line-height: 3.5rem;
        margin: 0 0 0 0;
    }

    .content .content-wallpaper p br {
        display: block;
    }

    .content section {
        text-align: center;
        padding: 5rem 10rem 5rem 10rem;
    }

    .content section h2 {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 6.3rem;

    }

    .content section span {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 3.5rem;
    }

    .content section .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .content section .container li {
        padding: 7.6rem 2.5rem;
    }
}



@media (min-width:  1023.98px) {
    
    .content section .container {
        grid-template-columns: repeat(4, 1fr);
    }

}

