@font-face {
    font-family: "Montserrat-Medium";
    src: local("Montserrat-Medium"),  url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Semi";
    src: local("Montserrat-SemiBold"), url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"), url("./fonts/Montserrat-Bold.ttf") format("truetype");
}


.content {
    background-color: var(--bgSite);
    font-family: "Montserrat-Medium";
    width: 100%;
    margin: 0 auto;
}

.content .black-block {
    background-color: var(--title);
    color: var(--bgSite);
    text-align: center;
    font-size: 1.6rem;
    line-height: 3.1rem;
    padding: 1.5rem 0 ;
}

.content .white-block {
    background-color: var(--bgSite);
    color: var(--title);
    text-align: center;
    font-size: 2.4rem;
    line-height: 4.7rem;
    padding: .7rem 0 ;
}

.content .content-wallpaper {
    background-image: url('./wallpaper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12.9rem 0 12.1rem 10rem;
    
}

.content .content-wallpaper .filter {
    background-color: rgba(0, 0, 0, 0.5);
}


.content .content-wallpaper h2 {
    font-size: 3.2rem;
    line-height: 3.9rem;
    font-weight: bold;
    font-family: "Montserrat-Bold";
    color: var(--bgSite);
    margin: 0 0 1.9rem 0;
}


.content .content-wallpaper p{
    font-size: 1.8rem;
    line-height: 3.5rem;
    font-weight: 600;
    font-family: "Montserrat-Semi";
    color: var(--bgSite);
    margin: 0 0 0 0;

}

.content section {
    text-align: center;
    padding: 5rem 10rem 5rem 10rem;
}

.content section h2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 6.3rem;
    font-family: "Montserrat-Semi";
    color: var(--title);
}

.content section span {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.5rem;
    font-family: "Montserrat-Medium";
    color: var(--text);
}

.content section .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.9rem;
}

.content section .container li {
    padding: 7.6rem 2.5rem;
    background-color: var(--bgCard);        
    margin: 1.9rem 0;
}

.content section .container li img{
  width: 25rem;
  height: 15rem;    
}


@media (min-width:  767,98px) {
    .content .black-block {
        font-size: 1.6rem;
        line-height: 3.1rem;
        padding: 1.5rem 0 ;
    }

    .content .white-block {
        font-size: 2.4rem;
        line-height: 4.7rem;
        padding: .7rem 0 ;
    }

    .content .content-wallpaper {
        background-size: cover;
        background-position: center;
        padding: 12.9rem 0 12.1rem 10rem;
        
    }
    
    .content .content-wallpaper .filter {
        background-color: rgba(0, 0, 0, 0.5);
    }

    
    .content .content-wallpaper h2 {
        font-size: 3.2rem;
        line-height: 3.9rem;
        margin: 0 0 1.9rem 0;
    }


    .content .content-wallpaper p{
        font-size: 1.8rem;
        line-height: 3.5rem;
        margin: 0 0 0 0;

    }

    .content section {
        text-align: center;
        padding: 5rem 10rem 5rem 10rem;
    }

    .content section h2 {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 6.3rem;

    }

    .content section span {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 3.5rem;
    }

    .content section .container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 2.9rem;
    }

    .content section .container li {
        padding: 7.6rem 2.5rem;
        margin: 1.9rem 0;
    }

    .content section .container li img {
        width: 25rem;
        height: 15rem;    
    }
}